---
- name: Ensure git is installed
  become: true
  apt:
    pkg: "git"
    state: present
  when: ansible_os_family == "Debian"

- name: Make Vim directory
  become: no
  file:
    path: "{{ vundle_config_dir }}"
    state: directory

- name: Make Vim bundle directory
  become: no
  file:
    path: "{{ vundle_config_dir }}/bundle"
    state: directory

- name: Clone vundle
  become: no
  git:
    repo: "{{ vundle_repo }}"
    dest: "{{ vundle_config_dir }}/bundle/Vundle.vim"
    accept_hostkey: no

- name: Install Vim plugins
  become: "{{ vundle_user }}"
  command: "vim +PluginInstall +qall"
